<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServer($event)"> -->
<input type="text"
 class="form-control"
  [(ngModel)]="serverName"><br>
<!-- <p>{{serverName}}</p> -->
<button
 class="btn btn-primary" 
 [disabled]="!addNewServer" 
 (click)="onCreateServer()">Add New Server</button><br>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">{{serverCreationStatus}}</p><br>
<!-- <ng-template #noServer>No server was created!</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>
<app-server></app-server>
<p>{{customProperties.type}} for custom properties</p> <!-- @Input event-->
